body {
    text-align: center;
    background-color: rgba(29, 26, 26, 0.675);
}

h2 {
    color: gold;
}

.calculator {
    width: 200px;
    height: 260px;
    border: 2px solid black;
    margin: auto;
    background-color: rgb(255, 147, 230);
}

.display {
    width: 90%;
    height: 40px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    background-color: #fff;
    font-size: 1.5rem;
}

.btn-keys {
    width: 180px;
    height: 180px;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid palevioletred; */
}

.btn {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: aquamarine;
}

.btn:hover {
    background-color: aqua;
}

.btn-keys {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
}

.by {
    font-size: 0.5rem;
}